asgiref==3.11.1
defusedxml==0.7.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
fonttools==4.62.1
fpdf2==2.8.7
greenlet==3.3.2
pillow==12.1.1
playwright==1.58.0
pyee==13.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
gunicorn
dj-database-url
psycopg2-binary
whitenoise
